
<br>
<br><br>
<!-- <div id='container'>
  <div id="wrapper">
      <ejs-sidebar id="default-sidebar" #sidebar [width]='width' (created)="onCreated($event)" style="visibility: hidden">
        <div class="sidebar-header header-cover" style="background-color:#0378d5">
          <div class="image-container">
            <div class="sidebar-image"></div>
          </div>
          <div style="padding: 0 0 5px 0;">
            <a class="sidebar-brand" href="#settings-dropdown">john.doe@gmail.com</a>
            <span class="sf-icon-down icon"></span>
          </div>
        </div>
        <ul class="nav sidebar-nav">
          <li><a (click)="onMenuClick('Employees')"><i class="sf-icon-sidebar sf-icon-file"></i><span class="e-text"> Employees</span></a></li>
          <li><a (click)="onMenuClick('Department')"><i class="sf-icon-sidebar sf-icon-starred"></i><span class="e-text"> Department</span></a></li>
          <li><a (click)="onMenuClick('Roles')"><i class="sf-icon-sidebar sf-icon-recent"></i><span class="e-text"> Roles</span></a></li>
          <li><a (click)="onMenuClick('Tasks')"><i class="sf-icon-sidebar sf-icon-important"></i><span class="e-text"> Tasks</span></a></li>
          <li><a (click)="onMenuClick('Performance')"><i class="sf-icon-sidebar sf-icon-offline"></i><span class="e-text"> Performance</span></a></li>
        </ul>
      </ejs-sidebar>
      
      <div>
              <div class="content">
                  <div id="left">
                      <span id="hamburger" class="e-icons menu default" (click)="openClick()"></span>
                  </div>
                  <div id="center">
                      <span>Inbox</span>
                  </div>
                  <div id="right">
                      <span class="sf-icon-search"></span>
                  </div>
              </div>
              <div>
                <div class="e-control e-listview e-list-template e-touch">
                    <div class='input-container' *ngIf="activeContent === 'Employees'">
                        <label for='fields' class='label'>Select Filter Mode</label>
                        <ejs-dropdownlist #field id='fields' [dataSource]='filterModesData' (change)='onModeChange($event)'></ejs-dropdownlist>
                      </div>
                      <ejs-grid *ngIf="activeContent === 'Employees'" [dataSource]='data' allowPaging='true' [pageSettings]="pageSettings" [allowFiltering]='true' height='273px' [filterSettings]='filterSettings' width='100%' allowScrolling='true'>
                        <e-columns>
                          <e-column field='OrderID' headerText='Order ID' textAlign='Right' width=100></e-column>
                          <e-column field='CustomerID' headerText='Customer ID' width=120></e-column>
                          <e-column field='OrderDate' headerText='Order Date' width=100 format='yMd'></e-column>
                          <e-column field='ShipCity' headerText='Ship City' width=100></e-column>
                          <e-column field='ShipName' headerText='Ship Name' width=100></e-column>
                        </e-columns>
                      </ejs-grid>
                </div>
                
              </div>
          </div>
  </div>
</div> -->

<div class="e-control e-listview e-list-template e-touch">
<div class='input-container'>
    <label for='fields' class='label'>Select Filter Mode</label>
    <ejs-dropdownlist #field id='fields' [dataSource]='filterModesData' (change)='onModeChange($event)'></ejs-dropdownlist>
</div>
<div class="button-container">
  <button ejs-button cssClass="e-danger" (click)="openDialog('data',false)">Add New</button>
</div>

<ejs-grid [dataSource]='data' allowPaging='true' [pageSettings]="pageSettings" [allowFiltering]='true' height='273px' [filterSettings]='filterSettings' width='100%' allowScrolling='true'>
    <e-columns>
      
        <e-column headerText='Full Name' width=150>
            <ng-template #template let-data>
                {{data.firstName}} {{data.lastName}}
            </ng-template>
        </e-column> <!-- <e-column field='lastName' headerText='Last Name' width=100></e-column> -->
        <e-column field='address' headerText='Address' width=150></e-column>
        <e-column field='phone' headerText='Phone' width=120></e-column>
        <e-column field='role' headerText='Role' width=100></e-column>
        <!-- <e-column field='dob' headerText='Date of Birth' width=100 format='yMd'></e-column> -->
        <e-column field='email' headerText='Email' width=150></e-column>
        <e-column field='gender' headerText='Gender' width=80></e-column>
        <e-column field='department' headerText='Department' width=100></e-column>
        <e-column headerText='Action' width=100>
          <ng-template #template let-data>
            <button ejs-button cssClass="e-primary" (click)="openDialogs(data, true)">
              <span class="e-icons e-edit"></span> Update
            </button>
          </ng-template>
        </e-column>
        <e-column headerText='' width=100>
          <ng-template #template let-data>
            <button ejs-button cssClass="e-danger" (click)="deleteEmployee(data)">
              <span class="e-icons e-delete"></span> Delete
            </button>
          </ng-template>
        </e-column>
        
    </e-columns>
</ejs-grid>
</div>

<ejs-dialog #dialogObj [visible]="false" isModal='true' [width]="'600px'" [height]="'500px'" [header]="'Employee Form'">

  <div>
     <app-registration [isEdit]="isEdit" [data]="datas" (completedupdate)="updateEmployee($event)" (completed)="register($event)"></app-registration>
      <button ejs-button cssClass="e-primary" (click)="dialogButtonClick()">Close</button>
  </div>

</ejs-dialog>
